{% import "macros.njk" as m -%}
{% set service = infrastructure.services.jupyter -%}
# ─────────────────────────────────────────────────────────────────────────────
# {{ service.description }}
# ─────────────────────────────────────────────────────────────────────────────

{{ m.reverseProxy(service, tailscale.full_hostname) }}
